<h1>Stupid Coaching</h1>


<form action="/answers" class= "form-inline">
  <div class= "form-group mx-sm-3 mb-2>
    <label for="InputPassword" class="sr-only">Ask your question </label>
  <input type="text" name="answers" class="form-control" placeholder="Your question here">
   </div>
  <input type="submit" value="Ask!">
  <button type="submit" class="btn btn-primary">Send</button>
</form>
